<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">Adicionar Produto</div>
        <nav>
            <ul>
                <li><a href="/"><img src="{{ url_for('static', filename='home.png')}}"></a></li>
                <li><a href="/produtos"><img src="{{ url_for('static', filename='produtos.png')}}"></a> </li>
                <li><a href="/categorias"><img src="{{ url_for('static', filename='categoria.png')}}"></a></li>
                <li><a href="/carrinho"><img src="{{ url_for('static', filename='carrinho.png')}}"></a></li>
                <li><a href="/usuario"><img src="{{ url_for('static', filename='usuario.png')}}"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="add-product-form">
            <h1>Adicionar Novo Produto</h1>
            <form method="POST">
                <label for="nome">Nome do Produto:</label>
                <input type="text" id="nome" name="nome" required>
    
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" required></textarea>
    
                <label for="preco">Preço:</label>
                <input type="number" id="preco" name="preco" step="0.01" required>
    
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" required>
    
                <label for="categoria_id">Categoria:</label>
                <select id="categoria_id" name="categoria_id" required>
                    <option value="">Selecione uma categoria</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.idCategoria }}">{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
    
                <button type="submit">Adicionar Produto</button>
            </form> 
        </div>
    </main>
    


    <footer>
        <p>&copy; 2024 Minha Loja</p>
    </footer>
</body>
</html>
