<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Endereço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Adicionar o Endereço</div>
            <ul>
                <li><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='home.png')}}"></a></li>
                <li><a href="/produtos"><img src="{{ url_for('static', filename='produtos.png')}}"></a> </li>
                <li><a href="/categorias"><img src="{{ url_for('static', filename='categoria.png')}}"></a></li>
                {% if session.get('id_usuario') %}
                    <li><a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='carrinho.png')}}"></a></li>
                    <li><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='logout.png')}}"></a></li>
                {% else %}
                    <li><a href="{{ url_for('login_usuario') }}"><img src="{{ url_for('static', filename='login.png')}}"></a></li>
                {% endif %}
                <li><a href="{{ url_for('usuario') }}"><img src="{{ url_for('static', filename='usuario.png')}}"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Adicionar Endereço</h1>
        <form method="POST">
            <label for="rua">Rua:</label>
            <input type="text" id="rua" name="rua" required>
            <label for="numero">Número:</label>
            <input type="number" id="numero" name="numero" required>
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" name="cidade" required>
            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" required>
            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" required>
            <label for="pais">Pais:</label>
            <input type="text" id="pais" name="pais" required>
            <button type="submit">Salvar Endereço</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Loja de Eletrônicos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
