<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anunciar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Eletrônicos</div>
            <ul>
                <li><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='home.png')}}"></a></li>
                <li><a href="{{ url_for('categoria') }}"><img src="{{ url_for('static', filename='categoria.png')}}"></a></li>
                <li><a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='carrinho.png')}}"></a></li>
                <li><a href="{{ url_for('usuario') }}"><img src="{{ url_for('static', filename='usuario.png')}}"></a></li>
                <li><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='logout.png')}}"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Anunciar Novo Produto</h1>

        <form action="{{ url_for('anunciar_produto') }}" method="POST">
            <div>
                <label for="nome">Nome do Produto:</label>
                <input type="text" id="nome" name="nome" required>
            </div>
            <div>
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" required></textarea>
            </div>
            <div>
                <label for="preco">Preço:</label>
                <input type="number" step="0.01" id="preco" name="preco" required>
            </div>
            <div>
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" required>
            </div>
            <div>
                <label for="categoria_id">Categoria:</label>
                <select id="categoria_id" name="categoria_id" required>
                    {% for categoria in categorias %}
                        <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Anunciar Produto</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Loja de Eletrônicos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
