<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Categoria - Loja de Eletrônicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Cadastrar Categorias</div>
            <ul>
                <li><a href="/"><img src="{{ url_for('static', filename='home.png')}}"></a></li>
                <li><a href="/produtos"><img src="{{ url_for('static', filename='produtos.png')}}"></a> </li>
                <li><a href="/categorias"><img src="{{ url_for('static', filename='categoria.png')}}"></a></li>
                <li><a href="/carrinho"><img src="{{ url_for('static', filename='carrinho.png')}}"></a></li>
                <li><a href="/usuario"><img src="{{ url_for('static', filename='usuario.png')}}"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="cadastro-categoria">
            <h1>Cadastrar Nova Categoria</h1>
            <form action="/cadastro_categoria" method="post">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>

                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" required></textarea>

                <button type="submit" class="cta-button">Cadastrar Categoria</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Loja de Eletrônicos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
