<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Meu Carrinho</div>
            <ul>
                <li><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='home.png')}}"></a></li>
                <li><a href="/produtos"><img src="{{ url_for('static', filename='produtos.png')}}"></a> </li>
                <li><a href="/categorias"><img src="{{ url_for('static', filename='categoria.png')}}"></a></li>
                <li><a href="{{ url_for('usuario') }}"><img src="{{ url_for('static', filename='usuario.png')}}"></a></li>
                {% if session.get('id_usuario') %}
                    <li><a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='carrinho.png')}}"alt='Carrinho'></a></li>
                    <li><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='logout.png')}}"></a></li>
                {% else %}
                    <li><a href="{{ url_for('login_usuario') }}"><img src="{{ url_for('static', filename='login.png')}}"></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h1>Carrinho de Compras</h1>
        {% if carrinho_items %}
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in carrinho_items %}
                        <tr>
                            <td>{{ item['Nome'] }}</td>
                            <td>{{ item['Quantidade'] }}</td>
                            <td>R$ {{ "%.2f"|format(item['Preço']) }}</td> <!-- Corrigido para usar as chaves dos dicionários -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('finalizar_compra') }}" method="post">
                <button type="submit" class="btn">Finalizar Compra</button>
            </form>
            <form action="{{ url_for('limpar_carrinho') }}" method="post">
                <button type="submit" class="btn">Limpar Carrinho</button>
            </form>
        {% else %}
            <p>Seu carrinho está vazio.</p>
        {% endif %}
    </main>

    <footer>
        <p>&copy; 2024 Loja de Eletrônicos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
