<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Lista de Categorias</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('produtos') }}">Produtos</a></li>
                {% if session.get('administrador') %}
                <li><a href="{{ url_for('cadastrar_categoria') }}">Cadastrar Categoria</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h2>Categorias Disponíveis</h2>
        <ul>
            {% if categorias %}
                {% for categoria in categorias %}
                    <li>
                        <strong>{{ categoria['nome'] }}</strong> - {{ categoria['descricao'] }}
                        <form action="{{ url_for('produtos_por_categoria', id_categoria=categoria['idCategoria']) }}" method="get" style="display:inline;">
                            <button type="submit">Ver Produtos</button>
                        </form>
                        {% if session.get('administrador') %}
                        <form action="{{ url_for('excluir_categoria', id_categoria=categoria['idCategoria']) }}" method="POST" style="display:inline;">
                            <button type="submit" onclick="return confirm('Tem certeza de que deseja excluir esta categoria?');">Excluir</button>
                        </form>
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
                <li>Nenhuma categoria encontrada.</li>
            {% endif %}
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Sua Empresa</p>
    </footer>
</body>
</html>
