<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Eletrônicos</div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.get('id_usuario') %}
                    <li><a href="{{ url_for('carrinho') }}">Carrinho</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login_usuario') }}">Login</a></li>
                {% endif %}
                <li><a href="{{ url_for('usuario') }}">Usuário</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Finalizar Compra</h1>
        <form action="{{ url_for('finalizar_compra') }}" method="POST">
            <p>Seu pedido foi finalizado com sucesso!</p>
            <button type="submit">Voltar para a Home</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Loja de Eletrônicos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
