<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">Minha Loja</div>
        <nav>
            <ul>
                <li><a href="/"><img src="{{ url_for('static', filename='home.png')}}"></a></li>
                <li><a href="/produtos"><img src="{{ url_for('static', filename='produtos.png')}}"></a> </li>
                <li><a href="/categorias"><img src="{{ url_for('static', filename='categoria.png')}}"></a></li>
                <li><a href="/carrinho"><img src="{{ url_for('static', filename='carrinho.png')}}"></a></li>
                {% if session.get('administrador') %}
                    <li><a href="{{ url_for('adicionar_produto') }}"><img src="{{ url_for('static', filename='produto.png')}}"></a></li>
                {% endif %}
                <li><a href="/usuario"><img src="{{ url_for('static', filename='usuario.png')}}"></a></li>
                <li><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='logout.png')}}"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Produtos Disponíveis</h1>
        <div class="categorias-lista">
            <ul>
                {% for produto in produtos %}
                <li>
                    <h2>{{ produto['Nome'] }}</h2>
                    <p>{{ produto['Descrição'] }}</p>
                    <p>Preço: R$ {{ produto['Preço'] }}</p>
                    <form action="{{ url_for('adicionar_carrinho', id_produto=produto['idProduto']) }}" method="post">
                        <button type="submit" class="cta-button">Comprar</button>
                    </form>

                    {% if session.get('administrador') %}
                    <div class="admin-actions">
                        <a href="{{ url_for('editar_produto', id_produto=produto['idProduto']) }}">Editar</a> |
                        <form action="{{ url_for('excluir_produto', id_produto=produto['idProduto']) }}" method="post" style="display:inline;">
                            <button type="submit" class="cta-button" onclick="return confirm('Tem certeza que deseja excluir este produto?')">Excluir</button>
                        </form>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 - Todos os direitos reservados.</p>
    </footer>

</body>
</html>
