<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">Minha Loja</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('produtos') }}">Produtos</a></li>
                {% if session.get('administrador') %}
                    <li><a href="{{ url_for('adicionar_produto') }}">Adicionar Produto</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Produtos Disponíveis</h1>
        <div class="categorias-lista">
            <ul>
                {% for produto in produtos %}
                <li>
                    <h2>{{ produto['Nome'] }}</h2>
                    <p>{{ produto['Descrição'] }}</p>
                    <p>Preço: R$ {{ produto['Preço'] }}</p>
                    <form action="{{ url_for('adicionar_carrinho', id_produto=produto['idProduto']) }}" method="post">
                        <input type="number" name="quantidade" value="1" min="1" required>
                        <button type="submit" class="cta-button">Comprar</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 - Todos os direitos reservados.</p>
    </footer>

</body>
</html>
