<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Perfil de Usuário</div>
            <ul>
                <li><a href="/"><img src="{{ url_for('static', filename='home.png')}}"></a></li>
                <li><a href="/produtos"><img src="{{ url_for('static', filename='produtos.png')}}"></a> </li>
                <li><a href="/categorias"><img src="{{ url_for('static', filename='categoria.png')}}"></a></li>
                <li><a href="/carrinho"><img src="{{ url_for('static', filename='carrinho.png')}}"></a></li>
                <li><a href="/usuario"><img src="{{ url_for('static', filename='usuario.png')}}"></a></li>
                <li><a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='logout.png')}}"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Informações do Usuário</h2>
        <p><strong>Nome:</strong> {{ usuario['Nome'] }}</p>
        <p><strong>CPF:</strong> {{ usuario['CPF'] }}</p>
        <p><strong>Email:</strong> {{ usuario['Email'] }}</p>
        <p><strong>Endereço:</strong> {{ usuario['Endereco'] }}</p>
        <p><strong>Telefone:</strong> {{ usuario['Telefone'] }}</p>
        <p><strong>Administrador:</strong> {{ 'Sim' if usuario['Administrador'] else 'Não' }}</p>
    </main>
</body>
</html>
